.square {
    width: 100px;
    height: 100px;
}

.first {
    background-color: black;

    margin: 20px;
    padding: 20px;

    margin-bottom: 50px;

    /* border-style: solid;
    border-color: red;
    border-width: 5px; */
    border: 5px solid red;

    border-bottom-width: 15px;
}